<footer class="text-white text-center text-lg-start bg-dark">
    <div class="container p-4">
        <div class="row mt-4">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">About company</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsam odit quos laudantium
                    perferendis beatae.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsam odit quos laudantium
                    perferendis beatae.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 pb-1">Address</h5>
                <ul class="fa-ul" style="margin-left: 2.5em;">
                    <li class="mb-3">
                        <span class="ms-2">New Delhi ,
                            India</span>
                    </li>
                    <li class="mb-3">
                        <span
                            class="ms-2">contact@ribha.com</span>
                    </li>
                    <li class="mb-3">
                        <span class="ms-2">+91-99999 99999</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Opening hours</h5>
                <table class="table text-center text-white">
                    <tbody class="fw-normal">
                        <tr>
                            <td>Monday - Friday:</td>
                            <td>10am - 6pm</td>
                        </tr>
                        <tr>
                            <td>Saturday - Sunday:</td>
                            <td>Closed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Ribha.com
    </div>

</footer>
